<ngx-carousel [inputs]="shellTileConfig" [moveToSlide]="currentRange" id="shell-list-carousel">

  <ngx-tile NgxCarouselItem *ngFor="let range of rangeService.filteredRanges; index as i; trackBy:trackByFn">
      <div fpk-shell [@fadeInOut]="'in'" [range]="range"></div>
  </ngx-tile>

  <button NgxCarouselPrev class='leftRs d-none d-lg-block d-xl-block'>
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </button>
  <button NgxCarouselNext class='rightRs d-none d-lg-block d-xl-block'>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </button>

</ngx-carousel>
