<article class="card">
  <div class="img-split-container card-img-top">
    <img class="invisible" src="http://via.placeholder.com/318x180/DFD">
    <div class="img-split-frame">
      <img class="" src="http://via.placeholder.com/318x180/DFD" alt="Card image cap" (click)="openGallery()">
      <img class="" src="http://via.placeholder.com/318x180/DDF" alt="Card image cap" (click)="openGallery()">
    </div>
    <i class="fa fa-expand" aria-hidden="true"></i>
  </div>
  <div class="card-footer d-flex justify-content-start">
    <div class="ml-auto p-6">
      <button type="button" class="btn btn-outline-primary btn">start</button>
    </div>
  </div>
</article>
