ngx-item img {
  pointer-events: none
}
ngx-item .card {
  position: absolute;
  width: 100%;
}
ngx-item .card.active{
  position: static;
}

ngx-carousel.colour-select  button,
ngx-carousel.shell-select  button {
  border: none;
  position: absolute;
  margin: auto;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-radius: 999px;
}

ngx-carousel.colour-select  button[NgxCarouselPrev],
ngx-carousel.shell-select  button[NgxCarouselPrev] {
  left: 5%;
}
ngx-carousel.colour-select  button[NgxCarouselNext],
ngx-carousel.shell-select  button[NgxCarouselNext] {
  right: 5%;
}
