
<section id="about-us">
  <div class="container pt-3 pb-3">
    <h2>About Us</h2>
    <hr>
    <p>
      At Real Aussie Pools our DIY pool kit range offers an extensive variety of pool designs that will
      suit all backyards and budgets. We take pride in providing our customers with a great choice at
      affordable costs across our range of quality fibreglass swimming pools.
      We specalise in fibreglass pools only, including:
    </p>
    <ul>
      <li>Fun family pools</li>
      <li>Elegant plunge pools</li>
      <li>Pools designed for small backyards or courtyards</li>
      <li>Lap pools</li>
      <li>Swim spas; and</li>
      <li>Small spas</li>
    </ul>
    <p>
      All our pools also come complete with high quality pool equipment, engineering specifications,
      excavation and level plans and comprehensive installation instructions and a user guide.
    </p>
    <p>Four easy step:</p>
    <div class="row">
      <div class="col">
        Choose your shape
      </div>
      <div class="col">
        Choose your size
      </div>
      <div class="col">
        Choose your colour
      </div>
      <div class="col">
        Contact us for a freight quote
      </div>
    </div>

    <p>Accessories can be added as required.</p>

  </div>
</section>


<section id="the-kit-filter" class="bg-light">
  <div class="container pt-3 pb-3">
    <h2>Filter Shells</h2>
    <hr>
    <p class="lead">Use the folowing section to simplify finding exactly the shell you want.</p>
    <fpk-shell-list-filter></fpk-shell-list-filter>
  </div>
</section>
<!-- <section id="the-kit-advantage">
  <div class="container pt-3 pb-3">

    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">RAP Kit Advantage</h4>
      <hr>
      <p class="lead"><strong>RAP pool kit prices include a choice of all colours AND your skimmer box, eyeballs and safety suctions are preinstalled for you</strong></p>
    </div>

  </div>
</section> -->

<section id="shell-list" class="">
  <div class="container pt-3 pb-3">

    <h2>Choose your Shell</h2>
    <hr>

    <div class="row">
      <div class="col d-flex justify-content-start">
          <button class="btn btn-outline-warning" [class.active]="showFavorites" type="button" (click)="showFavorites = !showFavorites">
              <i aria-hidden="true" class="fa fa-star"></i>
              Favourites ({{favoritesCount}})
          </button>
      </div>
      <div class="col d-flex justify-content-end">
          <button class="btn btn-outline-secondary" [class.active]="listType == 'grid'" type="button" (click)="setListType('grid')">
            <i aria-hidden="true" class="fa fa-th"></i>
            grid
          </button>
          <button class="btn btn-outline-secondary" [class.active]="listType == 'carousel'" type="button" (click)="setListType('carousel')">
            <i aria-hidden="true" class="fa fa-sign-out"></i>
            carousel
          </button>
      </div>
    </div>

    <fpk-shell-list [type]="listType" [showFavorites]="showFavorites"></fpk-shell-list>

  </div>

</section>

<section id="the-kit" class="text-white bg-secondary">
  <div class="container pt-3 pb-3">
    <h2>Pool Kit Inclusions</h2>
    <hr>

    <div class="row">
      <div class="col-12 col-md-6">
          <ul>
            <li>Pool Shell</li>
            <li>Colours - check shell range for colour options</li>
            <li>Chlorinator - Salt Water Self Cleaning</li>
            <li>Filter - Davey (Cartridge)</li>
            <li>Pump - Davey Tyhpoon</li>
            <li>(Pump, Filter & Chlorinators size determined by pool size)</li>
            <li>Skimmer box, hydro valve, 2 x eyeballs</li>
            <li>Solar Provision (Shell Fittings) 2 x Safety suction and 1 x eyeball</li>
            <li>Engineer drawings</li>
            <li>Excavation Plan</li>
            <li>Installation instructions</li>
          </ul>
      </div>
      <div class="col-12 col-md-6">
          <ul>
            <li>Handover Kit including the following:</li>
            <li>deep bag skimmer</li>
            <li>professional wall brush</li>
            <li>telepole 2.4 to 4.8m</li>
            <li>supaflex hose 11m or 15m</li>
            <li>Flexi vacuum head</li>
            <li>therometer, test kit</li>
          </ul>
      </div>
    </div>

    <h2>Optional Extras</h2>
    <hr>
    <div class="row">
      <div class="col">
          <ul>
            <li>PH Feeder added to Chlorinator</li>
            <li>Bioniser (Chemical free/Mineral)</li>
            <li>Underwater Lights</li>
            <li>Auto Cleaner</li>
            <li>Pool Cover</li>
            <li>Pool Cover Roller</li>
            <li>Hand Rails</li>
            <li>Aussie Hide Away & Aussie UnderCover</li>
        </ul>
      </div>
    </div>

    <hr>
    <div class="alert alert-warning" role="alert">
        Delivery on all pool kits is extra
    </div>
  </div>
</section>

<section id="shell-list" class="bg-light">
  <div class="container pt-3 pb-3">

    <h4>
      Contact us for a delivery quote
      <br><small>Phone: 1300 722 009</small>
      <br><small>Email: sales@realaussiepools.com.au</small>
    </h4>

  </div>
</section>
